@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Noto+Sans:wght@400;700&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color:gold;
}

.carousel-slider {
  width: 100px;
}

.k{
  background-color: rgb(51, 51, 51);
}

/* *{
  -ms-overflow-style: none;
} */
::-webkit-scrollbar {
  width: .5rem;

}

::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
  border-radius:5px;    /* roundness of the scroll thumb */
  border: 2px solid #424242;  /* creates padding around scroll thumb */
}


